.header {
    background-image: url('resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    flex-direction: 0;
    margin-left: 320px;
    margin-top: 50px;


}

h2 {
    color: #FFF;
    position: relative;
    text-align: center;



}

.h2ok {
    font-size: 50px;
    height: 100px;


}

p {
    text-align: center;

    font-size: 40px;
}

.happy {
    color: #FFF;
    width: 32px 40 px;
    height: 200px;
    text-align: center;
}

.happy2 {

    padding-top: 500px;

    color: #ff0000;
    text-align: center;
    font-size: 70px;

}

.our {

    text-align: center;
    color: #ff0000;
    font-size: 24px;
    font-family: Merriweather
}

.img1 {


    height: 500px;
    width: 800px;
    flex-shrink: 0;
    margin-left: 200px;

}

.photo {

    background-image: url('resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    padding: 100px;
    display: block;
    background-repeat: no-repeat;
    margin-top: 100px;
}

.display20 {

    display: flex;
    height: 464.662px;
    justify-content: center;
    align-items: center;
    padding: 0.008px 0px 0px 0px;
    float: right;
    margin-right: 200px;
}

.title {

    color: #FFF;

    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;

}

.greeting {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
}

.button {

    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    background-color: transparent;
    font-size: 15px;
    margin: 0;
    

    
   
    

}

.block{

    display: grid;
    margin-top: 100px;
    text-align: left;
    margin-right: 10px;
    padding-left: 100px;
    color: #ff0000;
    font-family: Inter;
    font-size: 20px;
    line-height: normal;

}
.black{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top: 0;
}

.margin{

color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;

}

/* image style */

.clone{

    float: left;
    width: 33.33%;
    padding: 5px;
}

.row{

    content: "";
    clear: both;
    display: table;
}
.grid{

    margin-top: 100px;
    
}

.last{

    background-color: rgba(255, 0, 0, 0.05);

    ;
    
}

.it{

    width: 150px;
    height: 150px;
    margin-left: 625px;
    margin-top: 100px;
    
    

}
.Subscribe{
    text-align: center;
    margin-left: 100px;
    color: #070211;
    font-size: 48px;
}
.grid{
    margin-bottom: 100px;
}

.lastline{

margin-left: 120px;
color: rgba(7, 2, 17, 0.60);
margin-left: 60px;


}

.email{

    margin-left: 500px;
    padding: 18px 25px;
    border-radius: 12px;
    border: none;

}
.not{

    padding: 18px 25px;
    border-radius: 100px;
    border: none;
    margin-right: 100px;
    background-color: red;
    margin-bottom: 100px;


}
.footer{

    background-color: #070211;
}


body{
    margin: 0 auto;
    
    
}
footer{
    background-color: #070211;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    font-size: 15px;
}
.top_footer{
    margin: 2%;
    position: relative;
    display: flow-root;
}
.top_footer_right{
    margin: 0 auto;
    float: right;
    padding-right: 10%;
}
.top_footer_right a{
    margin: 0 auto;
}
.top_footer_left{
    text-align: left;
    width: 50%;
    float: left;
    font-size: 10px !important;
}
.contac{
    text-align: left;
}
.contac ul{
    list-style: none;
}
.contac li{

}
.contac li img{
    padding-right: 10px;
    width: 13px;
    width: 15px;
}
.contac li a {
    color: white;
    text-decoration: none;
}
#footer_hr{
    color: white;
    text-align: center;
}
.middle_footer{
    text-align: center;
}
.social img{
    padding: 1%;
    width: 4%;
    position: relative;
}
.bottom_footer_right{
    float: right;
    
}
.bottom_footer-left{
    float: left;
}
